snippet ncl "namespace class" b
using System;
using System.Collections.Generic;

namespace ${1:Namespace}
{
    class ${2:ClassName}
    {
        public ${2:FuncName}()
        {
        }
    }
}
endsnippet
