[user]
	email = me@someemail.com
    name = me
[core]
    editor = vim
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    fe = fetch
[color]
    diff = auto
    status = auto
    branch = auto
